@model NarutoUniverseProject.Models.PersonModels.BoxOfPersonSummaryViewModel
@{
    ViewData["Title"] = "All People";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-3">

        
        <form asp-controller="Person" asp-action="Index" method="post" class="form-horizontal">

            <h3>Sort by:</h3>
            <div class="form-group">
                <div>
                    <select class="form-control" asp-for="Sorting" asp-items='@ViewBag.SortingOptions'></select>
                    <span asp-validation-for="Sorting" class="text-danger"></span>
                </div>
            </div>
            <p><input asp-for='Descending' /> <span>Descending</span></p>

            <button class="btn btn-primary">Sort</button>
            <hr />
            <h3>Filters</h3>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="MinAge" class="col-md-2 control-label"></label>
                <div>
                    <input asp-for="MinAge" class="form-control" />
                    <span asp-validation-for="MinAge" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="MaxAge" class="col-md-2 control-label"></label>
                <div>
                    <input asp-for="MaxAge" class="form-control" />
                    <span asp-validation-for="MaxAge" class="text-danger"></span>
                </div>
            </div>

            <p class="font-weight-bold">Positions:</p>
            @for (Int32 i = 0; i < Model.Positions.Count; i++)
            {
                <p><input asp-for='Positions[i].Value' /> <span>@Model.Positions[i].Key</span></p>
                <input type="hidden" asp-for="Positions[i].Key" />
            }
            <hr />
            <p class="font-weight-bold">Countries:</p>
            @for (Int32 i = 0; i < Model.Countries.Count; i++)
            {
                <p><input asp-for='Countries[i].Value' /> <span>@Model.Countries[i].Key</span></p>
                <input type="hidden" asp-for="Countries[i].Key" />
            }
            <hr />
            <p class="font-weight-bold">Styles:</p>
            @for (Int32 i = 0; i < Model.Styles.Count; i++)
            {
                <p><input asp-for='Styles[i].Value' /> <span>@Model.Styles[i].Key</span></p>
                <input type="hidden" asp-for="Styles[i].Key" />
            }
            <hr />
            <p class="font-weight-bold">Power Sources:</p>
            @for (Int32 i = 0; i < Model.PowerSources.Count; i++)
            {
                <p><input asp-for='PowerSources[i].Value' /> <span>@Model.PowerSources[i].Key</span></p>
                <input type="hidden" asp-for="PowerSources[i].Key" />
            }
            <hr />
            <button class="btn btn-primary">Filter</button>
        </form>
    </div>
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var person in Model.ViewModels)
                    {
                        <tr>
                            <td><p class="mt-2">@person.Id</p></td>
                            <td><p class="mt-2">@person.Name</p></td>
                            <td><p class="mt-2">@person.Age</p></td>
                            <td><a asp-action="View" asp-route-id="@person.Id" class="btn btn-primary">View</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




