@model ICollection<NarutoUniverseProject.Models.AbilityModels.AbilitySummaryViewModel>
@{
    ViewData["Title"] = "All Abilities";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Time To Cast</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ability in Model)
            {
            <tr>
                <td><p class="mt-2">@ability.Id</p></td>
                <td><p class="mt-2">@ability.Name</p></td>
                <td><p class="mt-2">@ability.TimeToCast sec</p></td>
                <td><a asp-action="View" asp-route-id="@ability.Id" class="btn btn-primary">View</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
<a asp-action="Create" class="btn btn-success">Create new Ability</a>


